.bg-image1 {
    background-image: url("Gradient.png");
}

#start-btn {
    width: 40%;
}

#camera {
    width:360px;
    height: 250px;
    border:1px solid grey;
}

#logo_img {
    width: 150px;
    border-radius: 75px;
}

#textbox {
    width: 300px;
}

#start_btn {
    margin-top: 10px;
}